.fondo{
    background-image: url(../img/logo_ruta.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}
h1{
    position: relative;
    left: 35%;
    font-size: 300%;
}
h2{
    font-size: 200%;
}
.fecha{
    width: 40%;
    border-radius: 20px;
}
.sucursal{
    width: 60%;
    border-radius: 20px;
}
.asunto{
    width: 70%;
    height: 18rem;
    border-radius: 20px;
    font-size: 150%;
}
.general{
  position: relative;
  left: 10%;
  opacity: 80%;



}
.enviar{
    border-radius: 20px;
    position: relative;
    left: 65%;

}
.enviar:active{
    background-color: #f92626;
}
@media screen and (max-width:1150px){
    h1{
    font-size: 250%;
    top: 1.5rem;
    left: 30%;
    }

}
@media screen and (max-width:900px){
    h1{
    font-size: 230%;

    }


}
@media screen and (max-width:800px){
    h1{
    font-size: 220%;
    left: 25%;
    }
    h2{
        font-size: 130%;
    }


}
@media screen and (max-width:650px){
    h1{
    font-size: 190%;
    left: 20%;
    }
    .enviar{
        left: 60%;
    }


}
@media screen and (max-width:550px){
    h1{
    font-size: 160%;

    }
    .enviar{
        left: 55%;
    }


}
@media screen and (max-width:450px){
    h1{
    font-size: 140%;
    }
    .enviar{
        left: 50%;
    }
    h2{
        font-size: 90%;
    }
    .general{
        left: 7%;
    }


}
@media screen and (max-width:370px){
    h1{
    font-size: 110%;
    }
    h2{
    font-size: 80%;
    }

}
@media screen and (max-width:300px){
    h1{
    font-size: 100%;
    }
    h2{
    font-size: 70%;
    }

}
